.new-products {
    font-family: 'Montserrat', sans-serif;
    padding: 60px;
    background: #f8f8f8;
    text-align: center;
}

/* Section headers */

.new-products .title, .new-products .subtitle {
    font-size: 18px;
}
.new-products .title {
    text-transform: uppercase;
    color: #f6000e;
    font-weight: bold;
}
.new-products .subtitle {
    color: #6d6d6d;
}

/* Slider */

.new-products .slider {
    margin: 60px 0;
    width: 100%;
}
.new-products .product-box {
    padding: 10px;
}
.new-products .product-content {
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
}
    /* Overwriting default Flickity styles */
.flickity-viewport {
    width: 100%;
}
.flickity-prev-next-button.previous {
    left: -40px;
    background: transparent;
}
.flickity-prev-next-button.next {
    right: -40px;
    background: transparent;
}

/* Product prices */

.new-products .price {
    text-align: left;
    height: 60px;
    line-height: 40px;
    padding: 10px 20px;
}
.new-products .discount {
    background: #f6000e;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 14px;
}
.new-products .actual-price {
    color: #f6000e;
    font-size: 18px;
    font-weight: bold;
}
.new-products .old-price {
    color: #6d6d6d;
    text-decoration: line-through;
    font-size: 14px;
}

/* Product image */

.new-products img {
    width: 100%;
    margin: 5px 0;
}
